@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    background-color: #90EE90;
    overflow: hidden;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000; /* Para asegurarse de que esté por encima de otros elementos */
    padding: 10px 0;
}

.nav-btn {
    background-color: #90EE90;
    border: none;
    color: white;
    font-size: 24px;
}

#section {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    position: sticky;
    width: 80%;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

div {
    margin-top: 20px;
}

.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: 0;
  }

.product-container {
    width: 20%; /* Ancho del 20% para mostrar al menos 5 cuadros */
    border: 1px solid #ddd; /* Borde del recuadro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    margin: 10px; /* Espaciado externo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    background-color: #fff; /* Fondo blanco */
    transition: transform 0.2s, box-shadow 0.2s; /* Transiciones para hover */
}

.product-container:hover {
    transform: scale(1.02); /* Efecto de agrandamiento */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Sombra más intensa */
}