.color-1 { 
	background: #f7f7f7; 
}
	
.color-2 { 
	background: #3b0944; 
}

.color-3 { 
	background: #5f1854; 
}

.color-4 { 
	background: #1abb9c; 
}

.color-f-1 {
    color: #f7f7f7; 
} 

.color-f-2 {
    color: #3b0944; 
}

.color-f-3 {
    color: #5f1854; 
}

.color-f-4 {
    color: #1abb9c;
}